.player-link {
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #000000;
    padding: 0 10px;
    font-size: .900em;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}