<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Combined Widgets</h5>
          <p class="category">Visualize custom widgets here</p>
        </div>
        <div class="card-body all-icons">
          <div class="analance-dashboard">
            <iframe
              src="https://angular.io/"
              title="W3Schools Free Online Web Tutorials" class="frame"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>